body {
    background-color: #599093;
    width: 98vw;
    background-image: url(./img/fondo.jpg);
    background-size: cover;
    font-family: sans-serif;
}

#titulo {
    text-align: center;
    font-family: 'nunito', sans-serif;
    font-weight: 800;
    color: azure;
    margin: 0 auto;
}

.container {
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    font-size: 25px;
    font-family: sans-serif;
    display: grid;
    gap: 0.3em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 1em;
    border-radius: 2em;
    font-family: 'nunito', sans-serif;
    background-color: #4e5959;
    color: white;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 10px -1px #3d6264;
    -moz-box-shadow: 0px 2px 10px -1px #3d6264;
    box-shadow: 0px 2px 10px -1px #000;
}

.container div {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 0.5em;
    transition: 0.4s;
    cursor: pointer;
}

.container div:hover {
    background-color: rgba(104, 147, 89, 0.041);
}

.container div.turn1:hover {
    background-color: rgb(93, 166, 235);
    transition: all 0.5s ease-out;
}

.container div.turn2:hover {
    background-color: rgb(235, 93, 93);
    transition: all 0.5s ease-out;
}

img {
    width: 20px;
}

#maincontainer {
    width: 100%;
    margin: 0 auto;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 20%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-align: center;
    outline: none;
    transition: 0.3s;

}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    /*box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);*/
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

#BotonReiniciar {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    padding: .6em 1.4em .5em .8em;
    width: 20%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    text-align: center;
    outline: none;
    transition: 0.3s;
}

.container div {
    /* border: 1px solid #b1d9d9; */
    align-items: center;
    justify-content: center;
}

.container div img {
    width: 90%;
    border-radius: .5em;
    height: auto;
    overflow: hidden;
    /* justify-content: center; */
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
}

#turn {
    color: white;
    margin: 0 auto;
    font-family: Nunito, sans-serif;
    text-align: center;
}

#BotonReiniciar:hover {
    background-color: #b1d9d9;
}

#ad {
    text-align: center;
    color: azure;
    font-family: nunito;
    padding: 10px;
}

#alinear {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

/* FLIP */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box.clicked .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}

#flex-box {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.jugador {
    margin: 0 auto;
    color: white;
    font-size: 2em;
    font-family: Nunito;
}

#jugador1 {
    color: rgb(93, 166, 235);
    text-align: center;
}

#jugador2 {
    color: rgb(235, 93, 93);
    text-align: center;
}

#points_jug1 {
    text-align: center;
    font-size: 3em;
}

#points_jug2 {
    text-align: center;
    font-size: 3em;
}

#winDiv {
    z-index: 1;
    top: 7%;
    width: 44%;
    height: 557px;
    padding-bottom: 2em;
    background-color: rgba(89, 144, 147, 0.815);
    border-radius: 1em;
    color: white;
    position: absolute;
    left: 28%;
    -webkit-animation: fadein 1s;
    transition: 0.3s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#winDiv h1 {
    font-size: 3em;
    position: absolute;
    top: 26%;
}

#winDiv p {
    padding: 19%;
    text-align: center;
}

#winDiv span {
    background-color: white;
    color: rgb(73, 120, 122);
    border-radius: 1em;
    padding: 2em;
    cursor: pointer;
    position: absolute;
    bottom: 17%;
}

#winDiv span:hover {
    background-color: rgb(97, 186, 190);
    color: white;
}

/* CLASSES */
.dissapear {

    display: none;
}

.appear {

    display: flex;
    justify-content: center;
    align-items: center;
}

#turn {
    font-size: 3em;
    color: burlywood;
}