body {
    background-color: #599093;
    width: 98vw;
}

#titulo {
    text-align: center;
    font-family: 'nunito', sans-serif;
    font-weight: 800;
    color: azure;
}

.container {
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    font-size: 25px;
    font-family: sans-serif;
    display: grid;
    gap: 0.3em;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */
    /* DINAMICALLY CREATED*/
    padding: 1em;
    border-radius: 3em;
    font-family: 'nunito', sans-serif;
    background-color: #446f71;
    color: white;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 10px -1px #3d6264;
    -moz-box-shadow: 0px 2px 10px -1px #3d6264;
    box-shadow: 0px 2px 10px -1px #3d6264;
}

.container div {
    width: 100%;
    height: 100%;
    text-align: center;
}

img {
    width: 20px;
}

#maincontainer {
    width: 100%;
    margin: 0 auto;
}



.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 20%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-align: center;
    outline: none;
    transition: 0.3s;
    
}



.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    /*box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);*/
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}